{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link href="/res/css/bootstrap.min.css" rel="stylesheet">
        <link href="/res/css/main.css" rel="stylesheet">
        {{template "head" .}}

        <title>{{template "title" .}} - OverHours</title>
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fdfeff;">
        <a class="navbar-brand" href="/">OverHours</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li id="nav-home" class="nav-item">
                    <a class="nav-link" href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li id="nav-timeLog" class="nav-item">
                    <a class="nav-link" href="/timeLog">
                        <span>TimeLogs</span>
                    </a>
                </li>
                <li id="nav-leaderboard" class="nav-item">
                    <a class="nav-link" href="/board/ranking">
                        <span>Leaderboard</span>
                    </a>
                </li>
                <li id="nav-meeting" class="nav-item">
                    <a class="nav-link" href="/meeting">
                        <span>Meeting</span>
                    </a>
                </li>
                <li id="nav-users" class="nav-item">
                    <a class="nav-link" href="/users">
                        <span>Users</span>
                    </a>
                </li>
                <li id="nav-settings" class="nav-item">
                    <a class="nav-link" href="/settings">
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
            <div id="userBar"><span class="navbar-text text-dark mr-md-2" id="navUser"></span> <a id="userNameA"><span class="badge badge-success">Edit profile</span></a></div>
        </div>
        <a class="btn btn-outline-dark ml-md-2" href="/logout" id="logoutBtn">Logout</a>
    </nav>

    <div class="container-fluid">
        {{template "body" .}}
    </div>

    <div class="ml-md-5 ml-2 mr-md-5 mr-2">
        <hr>
        <div class="text-center">
            <p>OverHours 1.1.1 | <a class="badge-pill badge badge-warning"
                                       href="https://github.com/Team6083/OverHours/issues">Bugs report</a></p>
        </div>
    </div>

    <!-- JS Scripts -->

    <!-- load jQuery 3.3.1 -->
    <script src="/res/js/jquery-3.3.1.min.js"></script>
    <script src="/res/js/jquery.websocket-0.0.1.js"></script>
    <script src="/res/js/HoursWebsocket.js"></script>

    <script src="/res/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/res/js/popper.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/util.js"></script>
    <script>
        if (readCookie("session_token") !== null) {
            $("#navUser").html(readCookie("userName"));
            $("#userNameA").attr("href", "/users/form?edit=" + readCookie("userName"));
        } else {
            $("#logoutBtn").addClass("d-none");
            $("#userBar").addClass("d-none");
            $("#userNameA").attr("href", "#");
        }
    </script>
    {{template "script" .}}
    </body>
    </html>

{{end}}