{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/res/css/main.css" rel="stylesheet">

        <style>
            #main {
                height: 100vh;
            }
        </style>
    </head>
    <body>
    <div class="container">
        <div class="row text-center justify-content-center align-content-center align-items-sm-center" id="main">
            <div class="col col-sm-auto">
                <h1><span class="badge badge-pill badge-danger">{{.ErrCode}}</span></h1>
            </div>
            <div class="w-100 d-sm-none"></div>
            <div class="col col-sm-auto">
                <h2 class="font-weight-normal lead">{{.Title}}:</h2>
            </div>
            <div class="w-100 d-sm-none"></div>
            <div class="col col-sm-auto ">
                <div class="inline-block align-middle">
                    <h2 class="font-weight-normal lead">{{.ErrMsg}}</h2>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{{end}}