{{define "title"}}Dashboard{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <h2>Team 6083 - OverHours</h2>
            <h3>Current login: <span class="badge badge-info">{{.UserName}}</span></h3>

            <form method="post" action="/timeLog/checkinPost">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" name="studentId" placeholder="Students's Id"
                           value="{{.UserAccName}}" {{.Disable}}>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="stu-submit">Checkin</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg col-sm">
            <table id="timeLogsTable" class="table table-hover">
                <thead>
                <tr>
                    <th>user</th>
                    <th>time in</th>
                    <th>time out</th>
                    <th>season</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script src="/res/js/datatables.min.js"></script>
    <script>
        var TimeLogsTable = $("#timeLogsTable").DataTable({
            "paging": false,
            "order": [ 1, 'dec' ],
            "info": true,
            "columnDefs": [
                {
                    "render": function (data) {
                        var date = new Date(data * 1000);
                        if (data == 0) {
                            return "<a class=\"btn btn-primary\" href=\"/timeLog/checkout?studentId={{.UserAccName}}\">CheckOut</a>";
                        }
                        return date.toLocaleDateString() + " " + date.toLocaleTimeString();
                    },
                    "targets": [1, 2]
                }
            ]
        });

        var timeLogs = []

        {{range .TimeLogs}}
        timeLogs.push(["{{.UserID}}", {{.TimeIn}}, {{.TimeOut}}, "{{.SeasonId}}"]);
        {{end}}

        timeLogs.forEach(function (data) {
            TimeLogsTable.row.add(data).draw();
        })

    </script>
{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}