{{define "title"}}Dashboard{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <h2>Team 6083 - OverHours</h2>
            <h3>Current login: <span class="badge badge-info">{{.UserName}}</span></h3>

            <form method="post" action="/student/checkinPost">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" name="studentId"  placeholder="Students's Id" value="{{.UserAccName}}" {{.Disable}}>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="stu-submit">Checkin</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg">

        </div>
        <div class="col-lg-2">

        </div>
    </div>
{{end}}

{{define "script"}}{{end}}