{{define "title"}}Home{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <h2>Team 6083 - OverHours</h2>
            <h4>Current login: <span class="badge badge-dark">{{.UserName}}</span> / Season: <span class="badge badge-primary badge-pill">{{.CurrentSeason}}</span></h4>
            <form method="post" action="/timeLog/checkinPost">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" name="studentId" placeholder="Students's Id"
                           value="{{.UserAccName}}" {{.Readonly}}>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="stu-submit">Checkin</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg col-sm">
            <div style="overflow-x: scroll;">
                <table id="timeLogsTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>user</th>
                        <th>time in</th>
                        <th>time out</th>
                        <th>season</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-home").addClass("active");
    </script>
    <script src="/res/js/datatables.min.js"></script>
    <script>
        var TimeLogsTable = $("#timeLogsTable").DataTable({
            "paging": false,
            "order": [1, 'dec'],
            "info": true,
            "language": {
                "emptyTable": "No member currently checkin"
            },
            "columnDefs": [
                {
                    "render": function (data) {
                        return names[data];
                    },
                    "targets": 0
                },
                {
                    "render": function (data, type, row) {
                        var date = new Date(data * 1000);
                        if (data === 0) {
                            let userAcc = {{.UserAccName}};
                            let disabled = {{.Disable}};
                            if (userAcc === row[0] || !disabled) {
                                return "<a class=\"btn btn-primary \" href=\"/timeLog/checkout?studentId=" + row[0] + "\" >CheckOut</a>";
                            } else {
                                return "";
                            }
                        } else if (data === -1) {
                            return "<span class=\"badge badge-danger\">Last checkout time exceed. (Please contact Moderators)</span>";
                        }
                        return date.toLocaleDateString() + " " + date.toLocaleTimeString();
                    },
                    "targets": [1, 2]
                }
            ]
        });

        var timeLogs = [];

        {{range .TimeLogs}}
        timeLogs.push(["{{.UserID}}", {{.TimeIn}}, {{.TimeOut}}, "{{.SeasonId}}"]);
        {{end}}

        var names = {};

        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        timeLogs.forEach(function (data) {
            TimeLogsTable.row.add(data).draw();
        });

        $("#timeLogsTable_wrapper").children().eq(0).children().eq(0).append("<h5>Count: <span id='timeLogsTableCount' class=\"badge badge-pill badge-info\"></span></h5>");
        $("#timeLogsTableCount").html(TimeLogsTable.data().length);
    </script>


{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}