{{define "title"}}Login{{end}}

{{define "body"}}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col col-lg-8">
            <h2>Login</h2>
            {{if eq .Status 1}}
                <div class="alert alert-warning" role="alert">
                    Please login first.
                    請先登入
                </div>
            {{else if eq .Status 2}}
                <div class="alert alert-warning" role="alert">
                    Wrong username or password.
                    錯誤帳號或密碼
                </div>
            {{end}}
            <form method="post" action="/loginPost">
                <div class="form-group">
                    <label for="usernameInput">User Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="usernameInput" name="loginUsername"
                               placeholder="Enter user name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-toggle="dropdown">Select your name
                            </button>
                            <div class="dropdown-menu" id="usernameDropdown">

                            </div>
                        </div>
                    </div>
                    <small id="usernameHelp" class="form-text text-muted">Input your user name.</small>
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="loginPassword"
                           placeholder="Password">
                </div>
                {{if ne .Redirect ""}}<input type="hidden" name="redirect" value="{{.Redirect}}">{{end}}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="rememberMe" id="rememberMe">
                    <label for="rememberMe" class="custom-control-label">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        var names = {};

        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        for (let key in names) {
            $("#usernameDropdown").append("<a class=\"dropdown-item usernameSelect\" value=\"" + key + "\">" + names[key] + "</a>")
        }

        $(".usernameSelect").on('click', function () {
            let username = $(this).attr('value');
            $("#usernameInput").val(username);
        });

    </script>
{{end}}
{{define "head"}}{{end}}