{{define "title"}}Login{{end}}

{{define "body"}}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col col-lg-8">
            <h2>Login</h2>
            {{if eq .Status 1}}
                <div class="alert alert-warning" role="alert">
                    Please login first.
                    請先登入
                </div>
            {{else if eq .Status 2}}
                <div class="alert alert-warning" role="alert">
                    Wrong username or password.
                    錯誤帳號或密碼
                </div>
            {{end}}
            <form method="post" action="/loginPost">
                <div class="form-group">
                    <label for="usernameInput">User Name</label>
                    <input type="text" class="form-control" id="usernameInput" name="loginUsername"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Input your email.</small>
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="loginPassword"
                           placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{{end}}

{{define "script"}}{{end}}
{{define "head"}}{{end}}