{{define "title"}}Users Form{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <form class="needs-validation" method="POST" action="/meeting/form/submit" autocomplete="off" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="editId">Id</label>
                        <input type="text" class="form-control" id="editId" name="id" placeholder="new Id" readonly
                               value="{{.EditMeeting.Id.Hex}}" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="editMeetID">MeetId</label>
                        <input type="text" class="form-control" id="editMeetID" name="meetId" placeholder="UserID"
                               value="{{.EditMeeting.MeetId}}" required readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="editSeasonId">Season Id</label>
                        <input type="text" class="form-control" id="editSeasonId" name="seasonId"
                               value="{{.EditMeeting.SeasonId}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="editStartTime">StartTime
                            <button type="button" id="startTimeNowBtn" class="btn btn-info btn-sm">Now
                            </button>
                        </label>
                        <input type="text" class="form-control" id="editStartTime" name="startTime" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="editStartCheckinTime">StartCheckinTime
                            <button type="button" id="startCheckinTimeNowBtn" class="btn btn-info btn-sm">Now
                            </button>
                        </label>
                        <input type="text" class="form-control" id="editStartCheckinTime" name="startCheckinTime" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="editFinishTime">FinishTime
                            <button type="button" id="finishTimeNowBtn" class="btn btn-info btn-sm">Now
                            </button>
                            <button type="button" id="finishTimeClearBtn" class="btn btn-warning btn-sm">Clear
                            </button>
                        </label>
                        <input type="text" class="form-control" id="editFinishTime" name="finishTime" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="editCheckinLevel">Checkin Level</label>
                        <select class="form-control" name="checkinLevel" id="editCheckinLevel">
                            <option value="0" selected>Everyone</option>
                            <option value="1">Leaders</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="editTitle">Title</label>
                        <input type="text" class="form-control" id="editTitle" name="title"
                               value="{{.EditMeeting.Title}}">
                    </div>
                    <div class="col-md-4">
                        <label for="editDescription">Description</label>
                        <textarea type="text" class="form-control" id="editDescription" name="description">{{.EditMeeting.Description}}</textarea>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-md-12">
                        <label for="userSelect">Participant</label>
                        <br>
                        <a href='#' id='userSelectAll' class="badge badge-secondary">select all</a>
                        <a href='#' id='userDeselectAll' class="badge badge-secondary">deselect all</a>
                        <div class="mt-2" style="overflow-y: auto">
                            <select class="disabled" multiple="multiple" id="userSelect"
                                    name="userSelect">
                            </select>
                        </div>

                    </div>
                </div>
                <div class="form-row mt-md-5">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-block btn-primary">Save</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" id="meetDelBtn" class="btn btn-block btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-meeting").addClass("active");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                let validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script>
        const config = {
            enableTime: true,
            time_24hr: true,
            static: false,
            altInput: true,
            altFormat: "Y/m/j K h:i:S",
            dateFormat: "U",
        };

        tI = flatpickr("#editStartTime", config);
        sctI = flatpickr("#editStartCheckinTime", config);
        endtI = flatpickr("#editFinishTime", config);

        {{if eq .EditMeeting.StartTime 0}}
        tI.setDate(new Date());
        {{else}}
        tI.setDate(new Date(({{.EditMeeting.StartTime}}) * 1000));
        {{end}}

        {{if eq .EditMeeting.StartCheckinTime 0}}
        let startCheckinTime = new Date();
        startCheckinTime.setHours(startCheckinTime.getHours() - 2);
        sctI.setDate(startCheckinTime);
        {{else}}
        sctI.setDate(new Date(({{.EditMeeting.StartCheckinTime}}) * 1000));
        {{end}}

        {{if eq .EditMeeting.FinishTime 0}}
        {{else}}
        endtI.setDate(new Date(({{.EditMeeting.FinishTime}}) * 1000));
        {{end}}


        $("#startTimeNowBtn").on('click', function () {
            tI.setDate(new Date());
        });

        $("#startCheckinTimeNowBtn").on('click', function () {
            sctI.setDate(new Date());
        });

        $("#finishTimeNowBtn").on('click', function () {
            endtI.setDate(new Date());
        });

        $("#finishTimeClearBtn").on('click', function () {
            endtI.clear();
        });

        $("#meetDelBtn").on('click', function () {
            const r = confirm("are you sure you want to delete meeting: {{.EditMeeting.Title}}?");
            if (r === true) {
                document.location.href = document.location.origin + "/meeting/delete/" +{{.EditMeeting.Id.Hex}};
            }
        });

        let select = $('#userSelect');

        select.multiSelect({});
        $("#userSelectAll").click(function () {
            $('#userSelect').multiSelect("select_all");
        });
        $("#userDeselectAll").click(function () {
            $('#userSelect').multiSelect("deselect_all");
        });

        var names = {};

        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        select.empty();
        for (let k in names) {
            let o = document.createElement("option");
            o.value = k;
            o.innerText = names[k];
            select.append(o).multiSelect('refresh');
        }

        {{range $i, $v := .EditMeeting.Participants}}
            select.multiSelect('select', {{$v}});
        {{end}}

    </script>

{{end}}

{{define "head"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
{{end}}