{{define "title"}}Meetings{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <div class="row">
                <div class="col-lg12 col">
                    <h3>Meeting: <span class="badge badge-dark">{{.Meeting.Title}}</span></h3>
                    <h5>Time: <span class="badge badge-secondary badge-pill" id="startTime"></span></h5>
                    {{if ne .Meeting.FinishTime 0}}
                        <h6>Finished at <span class="badge badge-success badge-pill" id="finishTime"></span></h6>
                    {{end}}
                    <p>{{.Meeting.Description}}</p>

                    {{if .IsLeader}}
                        <a class="btn btn-sm btn-secondary  "
                           href="/meeting/form?edit={{.Meeting.MeetId}}">Edit</a>

                        <a class="btn btn-sm btn-success"
                           href="/meeting/modify/{{.Meeting.MeetId}}/openCheckin">Open Checkin Now</a>

                        <a class="btn btn-sm btn-warning"
                           href="/meeting/modify/{{.Meeting.MeetId}}/finish">Finish Meeting</a>

                        <a class="btn btn-sm btn-danger"
                           href="/meeting/modify/{{.Meeting.MeetId}}/removeAllLog">Remove All Log</a>
                    {{end}}


                    <div class="text-center mt-3">
                        <a class="btn btn-block btn-primary  {{if not .CanCheckin}}disabled{{end}}"
                           href="/meeting/checkin/{{.Meeting.MeetId}}">{{if .MeetingFinished}}Meeting finished{{else}}Checkin{{end}} </a>

                        <strong class="{{if .MeetingCheckinStarted}}d-none{{end}}">Checkin of this meeting will start at
                            <span id="startCheckinTime" class="badge badge-pill badge-info"></span></strong>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-6">
                    <h4>Participants</h4>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">CheckinTime</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="participantsTbody">
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">

                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-meeting").addClass("active");
    </script>

    <script>
        function writeTime(time, target) {
            let startT = new Date(time * 1000);
            $("#" + target).html(startT.toLocaleDateString() + " " + startT.toLocaleTimeString());
        }

        writeTime({{.Meeting.StartTime}}, "startTime");
        writeTime({{.Meeting.StartCheckinTime}}, "startCheckinTime");
        writeTime({{.Meeting.FinishTime}}, "finishTime");

        var names = {};

        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        var participantCount = 0;

        {{range .TimeLogs}}
        addParticipant({{.UserId}}, {{.InTime}});
        {{end}}

        function addParticipant(name, checkinTime) {
            console.log(name, checkinTime);

            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            td1.scope = "row";
            td1.innerText = participantCount + 1;
            let td2 = document.createElement("td");
            td2.innerText = names[name];
            let td3 = document.createElement("td");
            td3.innerHTML = renderTimeLogsTimeStamp(checkinTime, "display", "{{if and .CanCheckin .IsLeader}}<a class=\"btn btn-sm btn-warning\" href=\"/meeting/checkin/{{.Meeting.MeetId}}/" + name + "\">Checkin</a>{{end}}");

            let td4 = document.createElement("td");
            td4.innerHTML = "";

            tr.append(td1);
            tr.append(td2);
            tr.append(td3);
            tr.append(td4);

            document.getElementById("participantsTbody").append(tr);

            participantCount++;
        }

    </script>
{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}