{{define "title"}}Meetings{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <div class="row">
                <div class="col-lg12 col">
                    <h3>Meeting: <span class="badge badge-dark">{{.Meeting.Title}}</span></h3>
                    <h5>Time: <span class="badge badge-secondary badge-pill" id="startTime"></span></h5>
                    {{if ne .Meeting.FinishTime 0}}
                        <h6>Finished at <span class="badge badge-success badge-pill" id="finishTime"></span></h6>
                    {{end}}
                    <p>{{.Meeting.Description}}</p>

                    {{if .IsLeader}}
                        <div class="btn-bar">
                            <a class="btn btn-sm btn-secondary  "
                               href="/meeting/form?edit={{.Meeting.MeetId}}">Edit</a>

                            <a class="btn btn-sm btn-success {{if .MeetingCheckinStarted}}disabled{{end}}"
                               href="/meeting/modify/{{.Meeting.MeetId}}/openCheckin">Open Checkin Now</a>

                            <a class="btn btn-sm btn-warning {{if .MeetingFinished}}disabled{{end}}"
                               href="/meeting/modify/{{.Meeting.MeetId}}/finish">Finish Meeting</a>

                            <a class="btn btn-sm btn-danger"
                               href="/meeting/modify/{{.Meeting.MeetId}}/removeAllLog">Remove All TimeLog</a>
                        </div>
                    {{end}}


                    <div class="text-center mt-3">
                        <a class="btn btn-block btn-primary  {{if not .CanCheckin}}disabled{{end}}"
                           href="/meeting/checkin/{{.Meeting.MeetId}}">{{if .MeetingFinished}}Meeting finished{{else}}Checkin{{end}} </a>

                        <strong class="{{if .MeetingCheckinStarted}}d-none{{end}}">Checkin of this meeting will start at
                            <span id="startCheckinTime" class="badge badge-pill badge-info"></span></strong>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-8">
                    <h4>Participants</h4>
                    <div class="row mb-3">
                        {{if and .IsLeader (not .MeetingFinished)}}
                        <div class="btn-bar ml-3">
                            <button class="btn btn-sm btn-outline-info">Mark leave</button>
                        </div>
                        {{end}}
                    </div>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" id="participantCheckAll">
                            </th>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">CheckinTime</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="participantsTbody">
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="participantDetailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Participant Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="participantDetailModalSave">Save changes</button>
                </div>
            </div>
        </div>
    </div>


{{end}}

{{define "script"}}
    <script>
        $("#nav-meeting").addClass("active");
    </script>

    <script>
        function writeTime(time, target) {
            let startT = new Date(time * 1000);
            $("#" + target).html(startT.toLocaleDateString() + " " + startT.toLocaleTimeString());
        }

        writeTime({{.Meeting.StartTime}}, "startTime");
        writeTime({{.Meeting.StartCheckinTime}}, "startCheckinTime");
        writeTime({{.Meeting.FinishTime}}, "finishTime");

        var names = {};

        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        var participantCount = 0;

        {{range .TimeLogs}}
        addParticipant({{.UserId}}, {{.InTime}}, {{.IsLeave}});
        {{end}}

        function addParticipant(name, checkinTime, isLeave) {
            let tr = document.createElement("tr");

            let tdCheck = document.createElement("td");
            tdCheck.innerHTML = "<input type=\"checkbox\" name='participant[]' value='" + name + "'>";
            tr.append(tdCheck);

            let td1 = document.createElement("td");
            td1.scope = "row";
            td1.innerText = participantCount + 1;
            let td2 = document.createElement("td");
            td2.innerText = names[name];
            let td3 = document.createElement("td");
            if (isLeave) {
                td3.innerHTML = "<span class=\"badge badge-pill badge-dark\">Leave</span>";
            } else {
                td3.innerHTML = renderTimeLogsTimeStamp(checkinTime, "display", "{{if and .CanCheckin .IsLeader}}<a class=\"btn btn-sm btn-warning\" href=\"/meeting/checkin/{{.Meeting.MeetId}}/" + name + "\">Checkin</a>{{end}}");
            }


            let td4 = document.createElement("td");
            td4.innerHTML = "";

            let td4div = document.createElement("div");
            td4div.classList = "btn-bar";


            const actionBtn = "<a class=\"btn btn-sm btn-outline-warning\" href=\"/meeting/participant/deleteLog/{{.Meeting.MeetId}}/" + name + "\">Rm log</a> <a class=\"btn btn-sm btn-outline-danger\" href=\"/meeting/participant/delete/{{.Meeting.MeetId}}/" + name + "\">Delete</a>";

            {{if and .IsLeader (not .MeetingFinished)}}
            if (isLeave || checkinTime !== 0) {
                td4div.innerHTML += "<a class=\"btn btn-sm btn-outline-info disabled\" href=\"/meeting/participant/leave/{{.Meeting.MeetId}}/" + name + "\">Leave</a>" + " ";
            } else {
                td4div.innerHTML += "<a class=\"btn btn-sm btn-outline-info\" href=\"/meeting/participant/leave/{{.Meeting.MeetId}}/" + name + "\">Leave</a>" + " ";
            }
            td4div.innerHTML += actionBtn;
            {{end}}

            td4.append(td4div);

            tr.append(td1);
            tr.append(td2);
            tr.append(td3);
            tr.append(td4);

            document.getElementById("participantsTbody").append(tr);

            participantCount++;
        }

    </script>

    <script>
        $("#participantCheckAll").on('click', function () {
            if ($("#participantCheckAll").prop("checked")) {
                $("input[name='participant[]']").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='participant[]']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    </script>
{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}