{{define "title"}}TimeLogs{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <a class="btn btn-primary btn-sm" href="/timeLog/form">New TimeLog</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col" style="overflow-x: scroll;">
            <table id="timeLogsTable" class="table table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="timeLogCheckAll"></th>
                    <th>Id</th>
                    <th>user</th>
                    <th>time in</th>
                    <th>time out</th>
                    <th>season</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-timeLog").addClass("active");
    </script>
    <script src="/res/js/datatables.min.js"></script>
    <script>
        var TimeLogsTable = $("#timeLogsTable").DataTable({
            "order": [4, 'dec'],
            "info": true,
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return "<input type=\"checkbox\" name='timeLogCheck[]' value='" + row[2] + "'>";
                    },
                    "width": "5%",
                    "targets": 0,
                    "sorting": false
                },
                {
                    "render": function (data) {
                        return "<a href=\"/timeLog/form?edit=" + data + "\" class=\"text-body\">" + data + "</a>";
                    },
                    "targets": 1
                },
                {
                    "render": function (data) {
                        return names[data];
                    },
                    "targets": 2
                },
                {
                    "render": function (data, type, row) {
                        var date = new Date(data * 1000);
                        if (data === 0) {
                            return "<a class=\"btn btn-primary\" href=\"/timeLog/checkout?studentId=" + row[2] + "\">CheckOut</a>";
                        } else if(data === -1){
                            return "<span class=\"badge badge-danger\">Last checkout time exceed. (Please contact Moderators)</span>";
                        }
                        return date.toLocaleDateString() + " " + date.toLocaleTimeString();
                    },
                    "targets": [3, 4]
                }
            ]
        });

        var timeLogs = [];

        {{range .TimeLogs}}
        timeLogs.push(["",{{.Id}}, "{{.UserID}}", {{.TimeIn}}, {{.TimeOut}}, "{{.SeasonId}}"]);
        {{end}}

        var names = {};

        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        timeLogs.forEach(function (data) {
            TimeLogsTable.row.add(data).draw();
        })
    </script>

    <script>
        $("#timeLogCheckAll").click(function () {
            if ($("#timeLogCheckAll").prop("checked")) {
                $("input[name='timeLogCheck[]']").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='timeLogCheck[]']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });


    </script>
{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}