{{define "title"}}TimeLogs{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <div class="row">
                <div class="col-md-6 col btn-bar">
                    <a class="btn btn-primary btn-sm" href="/timeLog/form">New TimeLog</a>
                    <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#optionsCollapse">
                        Options <i class="fas fa-angle-double-down"></i>
                    </button>
                </div>
                <div class="col-md-6 col text-md-right">
                    <select id="seasonSelector" style="border-radius: .2rem">
                        <option selected>All</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="collapse" id="optionsCollapse">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="showMeeting">
                        <label for="showMeeting" class="custom-control-label">Show meeting</label>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col" style="overflow-x: scroll;">
            <table id="timeLogsTable" class="table table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="timeLogCheckAll"></th>
                    <th>Id</th>
                    <th>user</th>
                    <th>time in</th>
                    <th>time out</th>
                    <th>season</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-timeLog").addClass("active");
    </script>
    <script src="/res/js/datatables.min.js"></script>
    <script>
        var TimeLogsTable = $("#timeLogsTable").DataTable({
            "ajax": {
                "type": "GET",
                "url": "/timeLog/datatable"
            },
            "order": [[4, 'desc'], [3, 'desc']],
            "info": true,
            "columns": [
                {},
                {data: 'Id'},
                {data: 'UserID'},
                {data: 'TimeIn'},
                {data: 'TimeOut'},
                {data: 'SeasonId'}
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return "<input type=\"checkbox\" name='timeLogCheck[]' value='" + row[2] + "'>";
                    },
                    "width": "5%",
                    "targets": 0,
                    "sorting": false
                },
                {
                    "render": function (data) {
                        return "<a href=\"/timeLog/form?edit=" + data + "\" class=\"text-body\">" + data + "</a>";
                    },
                    "targets": 1
                },
                {
                    "render": function (data) {
                        return names[data];
                    },
                    "targets": 2
                },
                {
                    "render": function (data, type) {
                        return renderTimeLogsTimeStamp(data, type, "Current in");
                    },
                    "targets": [3, 4]
                }
            ]
        });

        var names = {};
        {{range $key, $value := .UserNames}}
        names["{{ $key}}"] = {{ $value}};
        {{end}}

        var seasonIds = [];
        TimeLogsTable.on('draw', () => {
            for (let i = 0; i < TimeLogsTable.rows().data().length; i++) {
                let data = TimeLogsTable.rows().data()[i];
                console.log(data)
                if ($.inArray(data["SeasonId"], seasonIds) === -1) {
                    if (!data["SeasonId"].includes("m:")) {
                        seasonIds.push(data["SeasonId"]);
                    }
                }
            }
            seasonIds.forEach(function (data) {
                $("#seasonSelector").append("<option>" + data + "</option>");
            });
        });
    </script>

    <script>
        $("#timeLogCheckAll").on('click', function () {
            if ($("#timeLogCheckAll").prop("checked")) {
                $("input[name='timeLogCheck[]']").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $("input[name='timeLogCheck[]']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $.fn.dataTable.ext.search.push(
            function (settings, data) {
                const selectSeason = $("#seasonSelector").val();
                const season = data[5];
                const showMeeting = $("#showMeeting").prop("checked");

                if ((season === selectSeason) || (selectSeason === "All")) {
                    if(!showMeeting && season.includes("m:")){
                        return false;
                    }
                    return true;
                }
                return false;
            }
        );

        $("#showMeeting").on('change ', function () {
            TimeLogsTable.draw();
        });

        $("#seasonSelector").on('change ', function () {
            TimeLogsTable.draw();
        });


    </script>
{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{{end}}