{{define "title"}}Users{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <a class="btn btn-primary" href="/users/form">New User</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col" style="overflow-x: scroll;">
            <table id="usersTable" class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>userName</th>
                    <th>name</th>
                    <th>password</th>
                    <th>email</th>
                    <th>uuid</th>
                    <th>pLevel</th>
                    <th>firstYear</th>
                    <th>GraduationYear</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-users").addClass("active");
    </script>

    <script src="/res/js/datatables.min.js"></script>
    <script>
        var UsersTable = $("#usersTable").DataTable({
            "order": [1, 'dec'],
            "info": true,
            "columnDefs": [
                {
                    "targets": [0,3,5,7,8],
                    "visible": false
                },{
                    "render": function (data) {
                       switch (data) {
                           case 0:
                               return "Member";
                           case 1:
                               return "Leader";
                           case 2:
                               return "Admin";
                           case 3:
                               return "Super";
                           default:
                               return "Unknown";
                       }
                    },
                    "targets": 6
                },
                {
                    "render": function (data) {
                        return "<a href=\"/users/form?edit="+data+"\" class=\"text-body\">"+data+"</a>";
                    },
                    "targets": 1
                }
            ]
        });

        var users = [];

        {{range .Users}}
        users.push([{{.Id}}, "{{.Username}}", "{{.Name}}", "{{.Password}}", "{{.Email}}", "{{.UUID}}", {{.PermissionLevel}}, {{.FirstYear}}, {{.GraduationYear}}]);
        {{end}}

        users.forEach(function (data) {
            UsersTable.row.add(data).draw();
        })
    </script>
{{end}}

{{define "head"}}
    <link href="/res/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}