{{define "title"}}Users Form{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <h3>Change Password</h3>
            <h4>User: <span class="badge badge-dark">{{.Name}}</span></h4>
            {{if eq .ForceChange true}}
                <div class="alert alert-info mt-3" role="alert">
                    You have to update your password to continue.
                    <br>
                    更換密碼後才可繼續使用
                </div>
            {{end}}
            <form class="needs-validation mt-2" method="POST" action="/users/form/password/submit" autocomplete="nope"
                  novalidate>
                <div class="form-group">
                    <label for="inputPassword">New Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password"
                           placeholder="Password" autocomplete="new-password" required>
                    <div class="invalid-feedback">
                        Please choose a password.
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
                           placeholder="Confirm Password" autocomplete="new-password" required>
                    <div class="invalid-feedback">
                        Password dose not match.
                    </div>
                </div>
                <h6>
                    <label id="genePswLabel" class="d-none">
                        Generated Password:
                        <span class="badge badge-info" id="genePsw">

                        </span>
                    </label>
                </h6>
                <input type="hidden" name="target" value="{{.Identify}}" />
                <button type="button" id="pswGeneBtn" class="btn btn-success">Generate password</button>
                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-users").addClass("active");
    </script>

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        const psw = $("#inputPassword").val();
                        const pswConfirm = $("#inputConfirmPassword").val();
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        if (psw !== pswConfirm) {
                            event.preventDefault();
                            event.stopPropagation();
                            $("#inputConfirmPassword")[0].setCustomValidity("Passwords Don't Match");
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script>
        $("#pswGeneBtn").on('click', function () {
            let psw = generatePassword();
            $("#inputPassword").val(psw);
            $("#inputConfirmPassword").val(psw);
            $("#genePsw").html(psw);
            $("#genePswLabel").removeClass("d-none");
        });
    </script>

{{end}}

{{define "head"}}

{{end}}