{{define "title"}}Users Form{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <form class="needs-validation" method="POST" action="/users/form/submit" autocomplete="nope" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="editUUID">UUID</label>
                        <input type="text" class="form-control" id="editUUID" name="uuid" placeholder="new UUID"
                               disabled value="{{if ne .EditUser.UUID ""}}{{.EditUser.UUID}}{{end}}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputUserName">UserName</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                            <input type="text" class="form-control" id="inputUserName" name="userName"
                                   placeholder="Username" required value="{{.EditUser.UserName}}"
                                   {{if .New}}{{else}}readonly{{end}}>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputName">Display Name</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Your name"
                               required value="{{.EditUser.Name}}">
                        <div class="invalid-feedback">
                            Please choose a name.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email"
                           value="{{.EditUser.Email}}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputFirstYear">FirstYear</label>
                        <input type="number" class="form-control" id="inputFirstYear" name="firstYear"
                               placeholder="FirstYear" value="{{if ne .EditUser.FirstY 0}}{{.EditUser.FirstY}}{{end}}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputGraduationYear">GraduationYear</label>
                        <input type="number" class="form-control" id="inputGraduationYear" name="graduationYear"
                               placeholder="GraduationYear"
                               value="{{if ne .EditUser.GradY 0}}{{.EditUser.GradY}}{{end}}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPLevel">Permission Level</label>
                        <select id="inputPLevel" class="form-control" name="pLevel" required>
                            <option {{if eq .EditUser.PLevel 0}}selected{{end}} {{if lt .CurrentUser.PermissionLevel 0}}disabled{{end}}>
                                Member
                            </option>
                            <option {{if eq .EditUser.PLevel 1}}selected{{end}} {{if lt .CurrentUser.PermissionLevel 1}}disabled{{end}}>
                                Leader
                            </option>
                            <option {{if eq .EditUser.PLevel 2}}selected{{end}} {{if lt .CurrentUser.PermissionLevel 2}}disabled{{end}}>
                                Admin
                            </option>
                            <option {{if eq .EditUser.PLevel 3}}selected{{end}} {{if lt .CurrentUser.PermissionLevel 3}}disabled{{end}}>
                                Super
                            </option>
                        </select>
                    </div>
                    {{if ge .CurrentUser.PermissionLevel 1}}
                    <div class="form-group col-md-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="passwordNeedChange"
                                   id="passwordNeedChange" {{if eq .EditUser.PasswordNeedChange true}}checked{{end}}>
                            <label for="passwordNeedChange" class="custom-control-label">Password Need Change</label>
                        </div>
                    </div>
                    {{end}}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" id="deleteUser">Delete</button>
                <a class="btn btn-info" href="/users/form/password?edit={{.EditUser.UserName}}">Change password</a>
            </form>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-users").addClass("active");
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script>

        $("#deleteUser").on('click', function () {
            const r = confirm("Are you sure you want to delete user: '" + $("#editUUID").val() + "' ?");
            if (r === true) {
                window.location.href = document.location.origin + "/users/delete/" +{{.EditUser.UUID}};
            }
        });

    </script>
{{end}}

{{define "head"}}

{{end}}