{{define "title"}}Users Form{{end}}

{{define "body"}}
    <div class="mt-5">
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col">
            <h3>Change Password</h3>
            <h4>User: <span class="badge badge-dark">{{.Name}}</span></h4>
            {{if eq .ForceChange true}}
                <div class="alert alert-info mt-3" role="alert">
                    You have to update your password to continue.
                    更換密碼後才可繼續使用
                </div>
            {{end}}
            <form id="changePswForm" class="mt-4" autocomplete="nope" method="post" action="/users/form/password/submit">
                <div class="form-group">
                    <label for="inputPassword">New Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="inputPassword" name="password"
                               placeholder="Password" autocomplete="new-password" required>
                        <div class="input-group-append">
                            <button type="button" id="pswGeneBtn" class="btn btn-outline-success">Generate password
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword"
                           placeholder="Confirm Password" autocomplete="new-password" required>
                    <div class="invalid-feedback">
                        Password dose not match.
                    </div>
                </div>
                <input type="hidden" name="target" value="{{.Identify}}"/>

                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
{{end}}

{{define "script"}}
    <script>
        $("#nav-users").addClass("active");
    </script>

    <script>
        const password = document.getElementById("inputPassword");
        const confirm_password = document.getElementById("inputConfirmPassword");

        function validatePswMatch() {
            if (password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
                return
            }
            confirm_password.setCustomValidity("");
        }

        password.onchange = validatePswMatch;
        confirm_password.onkeyup = validatePswMatch;
    </script>

    <script>
        $("#pswGeneBtn").on('click', function () {
            let psw = generatePassword();
            let pswInput = $("#inputPassword");
            pswInput.val(psw);
            pswInput.attr("type", "text");
            let confirmPswInput = $("#inputConfirmPassword");
            confirmPswInput.val(psw);
            confirmPswInput.attr("disable", true);
        });
    </script>

{{end}}

{{define "head"}}

{{end}}